@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
  box-sizing: border-box;
  /* font-size: 16px; */
  -ms-overflow-style: none;
  font-family: 'Quicksand', sans-serif;

}
::-webkit-scrollbar {display:none;}
body{
  background-color: #d2d9d4;
}
